.info {
	position: absolute;
	top:20%;
	left:10px;
	z-index: 2;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 230px;
    height: 260px;
    background: black;
    color:white;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info .functions {
	margin-bottom: 20px;
}

.info .functions div {
	  font: 10px sans-serif;
	  background-color: steelblue;
	  text-align: left;
	  padding: 3px;
	  margin: 1px;
	  color: white;
	  white-space: nowrap;
	}
